:root {
    --fc-daygrid-event-dot-width: 5px;
    --fc-daygrid-event-dot-color: #2680A6;
    --fc-button-bg-color: #2680A6;
    --fc-button-border-color: #2680A6;
    --fc-event-bg-color: #2680A6;
    --fc-event-border-color: #2680A6;
}

.calendar-container {
    width: 90vh;
}

.container-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fc .fc-daygrid-event {
    font-size: 10px;
    text-wrap: wrap;
}
